/* MAIN PAGE MASTER */

.signin-main {
  position: static;
  width: 360px;
  margin: 60px auto;
  color: rgb(70, 70, 70);
}

.signin_chooser {
  margin: 20px 125px;
}

.signin_chooser span {
  cursor: pointer;
}

.signin_chooser span + span {
  margin-left: 20px;
}

.selected_page {
  font-size: 1.2rem;
  font-weight: 800;
  color: rgb(82, 82, 82);
  /* text-shadow: 0px 1px 15px var(--main-color-green); */
}

.unselected_page {
  font-size: 1.0rem;
  color: rgb(177, 177, 177);
}

/* FORMS */

.signup-form, .login-form, .logged-in {
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  width: 360px;
  min-width: 300px;
  height: 450px;
  justify-content: space-evenly;
  padding: 35px;
  padding-bottom: 35px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #3333;
}

.signup-form h2, .login-form h2 {
  margin:0;
  padding-bottom: 20px;
  font-size: 1.8rem;
}

.login-form {
  height: 338px;
}

.box-styling {
  text-indent: 15px;
  height: 3rem;
  font-size: 0.9rem;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #3333;
}

.box-styling:focus {
  outline: none;
}

.submit-styling {
  background-color: var(--main-color-green);
  color: white;
  font-weight: 800;
  font-size: 1.1rem;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  outline: none;
}

.submit-styling:hover {
  background-color: var(--main-color-green-hover);
}

.password_inline {
  display: flex;
  justify-content: space-evenly;
  overflow-y: hidden;
  flex-direction: row;
}

.forminput_password {
  flex: 5;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.password_show {
  flex: 1;
  text-align: center;
  background-color: rgb(205, 205, 205);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: rgb(52, 52, 52);
  font-size: 0.6rem;
  padding-top: 15px;
  font-weight: 500;
}

.password_show:hover {
  background-color: rgb(165, 165, 165);
}

/* ALREADY LOGGED IN PAGE */

.logged-in {
  margin:0;
  height: 200px;
  text-align: center;
}

.logged-in p span {
  font-weight: 900;
}

.logged-in button {
  cursor: pointer;
  margin-top: 20px;
  background-color: var(--main-color-green);
  color: white;
  height: 40px;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 20px;
}

.logged-in button:hover {
  background-color: var(--main-color-green-hover);
}